body{
	display: flex;
	height:100vh;
	justify-content: space-between;
	align-items: center;
	background-color:black;
	margin:0px;
	padding: 0px 100px;
}

#hello{
	display:flex;
	justify-content: center;
	color: white;
	padding: 20px 0px;
}